<h1>Your Recommendations</h1>

<div class="row">
  <div class="small-12 medium-4 columns">
    <div class="green-panel"><h4>Articles</h4>
      Rating these will greatly improve your recommendation accuracy.
      <br>
      <br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="log(Popularity) * Standard Deviation. This is a measurement over all articles and not personalized.">Computed
          </th>
        </tr>
        </thead>

        <tbody>
        <% @new_user_articles.each do |article| %>
            <tr>
              <td><%= link_to article.title, article, :class => '' %></td>
              <td><%= article.recommender_value.round(3) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="blue-panel"><h4>Articles</h4>
      You should enjoy reading these.
      <br>
      <br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="This is based upon the articles which your favourite users rated highly.">Computed
          </th>
        </tr>
        </thead>

        <tbody>
        <% @articles.each do |art_comp| %>
            <tr>
              <td><%= link_to art_comp.article.title, art_comp.article %></td>
              <td><%= art_comp.computed %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="yellow-panel"><h4>Users</h4>
      Ever thought about starting a <b>discussion group</b> with these people?
      <br>
      <br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="Upon how many items you interacted with these people.">Computed
          </th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user_comp| %>
            <tr>
              <% profile = user_comp.user.profile %>
              <% if profile.nil? %>
                  <td><%= user_comp.user.username %></td>
              <% else %>
                  <td><%= link_to user_comp.user.username, profile_path(profile) %></td>
              <% end %>
              <td><%= user_comp.computed %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      Ever thought about starting a <b>political party</b> with these people?
      <br>
      <br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="This denotes the difference of ratings upon specific items compared to the standard deviation of that item.
              The smaller this value, the better.">Weighted Rating Difference
          </th>
        </tr>
        </thead>

        <tbody>
        <% @political_users.each do |user_comp| %>
            <tr>
              <% profile = user_comp.user.profile %>
              <% if profile.nil? %>
                  <td><%= user_comp.user.username %></td>
              <% else %>
                  <td><%= link_to user_comp.user.username, profile_path(profile) %></td>
              <% end %>
              <td><%= user_comp.computed %></td>

            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
