<h1>Your Recommendations</h1>
<%= link_to "TUTORIAL", "#", id: "tutorial-button", class: "button alert expand" %>

<div class="row">
  <div class="small-12 medium-4 columns">
    <div id="firstStop" class="green-panel"><h4>Articles</h4>
      Rating these will greatly improve your recommendation accuracy.<br><br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="log(Popularity) * Standard Deviation. This is a measurement over all articles and not personalized.
              Except for the fact that articles with which the user actively interacted with are being omitted.">Computed
          </th>
        </tr>
        </thead>

        <tbody>
        <% @new_user_articles.each do |article| %>
            <tr>
              <td><%= link_to article.title, article, :class => '' %></td>
              <td><%= article.recommender_value.round(3) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div id="middle-column" class="blue-panel"><h4>Articles</h4>
      You should enjoy reading these.
      <br>
      <br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="This is based upon the articles which your favourite users rated highly.">Computed
          </th>
        </tr>
        </thead>

        <tbody>
        <% @articles.each do |art_comp| %>
            <tr>
              <td><%= link_to art_comp.article.title, art_comp.article %></td>
              <td><%= art_comp.computed %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div id="right-column" class="yellow-panel"><h4>Users</h4>
      Your recommended users: <br><br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="This is a combination of recommended users based on your profile preference.">Weighted Rating
            Difference
          </th>
        </tr>
        </thead>

        <tbody>
        <% @combination_users.each do |user_comp| %>
            <tr>
              <% profile = user_comp.user.profile %>
              <% if profile.nil? %>
                  <td><%= user_comp.user.username %></td>
              <% else %>
                  <td><%= link_to user_comp.user.username, profile_path(profile) %></td>
              <% end %>
              <td><%= user_comp.computed.round(3) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>


      Ever thought about starting a <b>discussion group</b> with these people? <br><br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="Upon how many items you interacted with these people.">Computed
          </th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user_comp| %>
            <tr>
              <% profile = user_comp.user.profile %>
              <% if profile.nil? %>
                  <td><%= user_comp.user.username %></td>
              <% else %>
                  <td><%= link_to user_comp.user.username, profile_path(profile) %></td>
              <% end %>
              <td><%= user_comp.computed %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      Ever thought about starting a <b>activist group, community or political party</b> with these people?
      <br>
      <br>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th data-tooltip aria-haspopup="true" class="has-tip"
              title="This denotes the difference of ratings upon specific items compared to the standard deviation of that item.
              The smaller this value, the better.">Weighted Rating Difference
          </th>
        </tr>
        </thead>

        <tbody>
        <% @political_users.each do |user_comp| %>
            <tr>
              <% profile = user_comp.user.profile %>
              <% if profile.nil? %>
                  <td><%= user_comp.user.username %></td>
              <% else %>
                  <td><%= link_to user_comp.user.username, profile_path(profile) %></td>
              <% end %>
              <td><%= user_comp.computed.round(3) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ol class="joyride-list" data-joyride>
  <li data-text="Next" data-options="tip_location: top; prev_button: false">
    <h4>Tutorial</h4>

    <p>This page is your personal recommendation page.
    </p>

    <p>
      They are based upon your active actions (comments, ratings, ...) which you do on this site.
      We do NOT measure every click, how long you look at content,
      facial expressions or any action which you perform on this site
      where it might not be obvious that you are expressing your opinion.
    </p>
  </li>
  <li data-id="firstStop" data-text="Next" data-prev-text="Prev" data-options="tip_location: right">
    <h4>New Here?</h4>

    <p>As a new user, you should probably start with these articles.<br>
      That way the items in the other columns will be more more accurate in the future.</p>
  </li>
  <li data-id="middle-column" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tip_location: left">
    <h4>Interesting Stuff</h4>

    <p>As an experienced user, you should enjoy reading these articles.</p>
  </li>
  <li data-id="right-column" data-button="Next" data-prev-text="Prev" data-options="tip_location:left">
    <h4>Other Users</h4>

    <p>SmartParticipation wants to give you the opportunity to connect with other people of your liking.
      Both on-and offline. Try it out, send them a message.</p>
  </li>
  <li data-button="End" data-prev-text="Prev" data-options="tip_animation:fade">
    <h4>Enjoy!</h4>

    <p>:-)</p>
  </li>
</ol>
