<%= form_for(@article) do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label "Description" %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "submit", class: "button" %>
    </div>
<% end %>
