<div class="green-panel">
  <table>
    <thead>
    <tr>
      <th>Metric</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <% author = @article.author %>
    <tr>
      <th>Author</th>
      <th><%= link_to(author.username.nil? ? "Anonymous" : author.username, author.profile) %> </th>
    </tr>
    <tr>
      <th>Category</th>
      <th><%= @article.category.nil? ? "Undefined" : @article.category.name %>
        <%= current_user == author ? (link_to "(change)", edit_article_path(@article)) : ""%> </th>
    </tr>
    <tr>
      <th>Created at</th>
      <th><%= @article.created_at.to_s(:long) %> (<%= time_ago_in_words @article.created_at %> ago)</th>
    </tr>
    <tr>
      <th>Edited at</th>
      <th><%= @article.updated_at.to_s(:long) %> (<%= time_ago_in_words @article.updated_at %> ago)</th>
    </tr>
    <tr>
      <th>Average Rating</th>
      <th><%= @article.get_average_rating %></th>
    </tr>
    <tr>
      <th>Number of Users that rated this Article</th>
      <th><%= @article.get_number_of_ratings %></th>
    </tr>
    <tr>
      <th>Standard Deviation of the Ratings</th>
      <th><%= @article.standard_deviation %></th>
    </tr>
    <tr>
      <th>Popularity</th>
      <th><%= @article.popularity %></th>
    </tr>
    </tbody>
  </table>
</div>