<h1>Listing articles</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= truncate(article.body, :length => 150, :separator => ' ') %></td>
        <td><%= link_to 'Show', article, :class => 'button' %></td>
        <td><%= link_to 'Edit', '/editor' + article_path(article), :class => 'button',
                        data: {save_url: mercury_update_article_path(article), no_turbolink: true} %></td>
        <td><%= link_to 'X', article, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'button alert' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, :class => 'button' %>
