<h1 id="article_title" data-mercury="simple">
  <%= raw @article.title %>
</h1>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Description</a></dd>
  <dd><a href="#panel4">Statistics</a></dd>
  <dd><a href="#panel2">Images</a></dd>
  <dd><a href="#panel3">Videos</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <div id="article_body" class="red-panel" data-mercury="full">
      <%= simple_format @article.body %>
    </div>
  </div>
  <div class="content" id="panel4">
    <div class="green-panel">There will be statistics here.</div>
  </div>
  <div class="content" id="panel2">
    <div class="yellow-panel">
      This is not yet implemented.
    </div>
  </div>
  <div class="content" id="panel3">
    <div class="blue-panel">
      This is not yet implemented either.
    </div>
  </div>
</div>
<%= link_to 'Back to the Articles', articles_path, :class => 'button secondary' %>
<%= link_to 'Edit Article', '/editor' + article_path(@article), :class => 'button warning',
            id: "edit_link", data: {save_url: mercury_update_article_path(@article), no_turbolink: true} %>
<%= link_to 'Delete this Article', @article, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'button alert' %>

<div class="">
  <% @comments.each do |c| %>
      <div class="panel">
        <%= c.body %>
        <%= link_to "X", article_comment_path(@article, c),
                    method: :delete, data: {confirm: 'Are you sure?'},
                    :class => 'button alert right tiny' %>
      </div>
  <% end %>
</div>
<% if current_user %>
    <%= form_for [@article, @comment] do |f| %>
        <%= f.text_field :body %>
        <%= f.submit "Comment", class: 'button  small success' %>
    <% end %>
<% else %>
    <div class="panel success">You need to <%= link_to 'sign up', new_user_registration_path, class: '' %>
      or <%= link_to 'log in', new_user_session_path, class: '' %> to comment on this article.
    </div>
<% end %>