<h1 id="article_title" data-mercury="simple">
  <%= raw @article.title %>
</h1>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Description</a></dd>
  <dd><a href="#panel4">Statistics</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <div id="article_body" class="panel" data-mercury="full">
      <%= raw @article.body %>
    </div>
  </div>
  <div class="content" id="panel4">
    <div class="green-panel">There will be statistics here.
      <h4>Average Rating: <%= @article.get_average_rating %></h4>
    </div>
  </div>
</div>

<!-- Rate The Article -->
<div class="row">
  <div class="small-12 medium-6 columns" id="articleRatingDiv">
    <% if user_signed_in? %>
        <div class="row">
          <div class="small-12 medium-12 columns">
            <div class="range-slider" id="articleRatingSlider" data-slider data-options="display_selector: #articleRatingOutput;">
              <span class="range-slider-handle" role="slider" tabindex="0"></span>
              <span class="range-slider-active-segment"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="small-2 columns small-offset-5 text-center"><span id="articleRatingOutput"></span></div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= form_tag @article.id + '/rate', remote: true, id: 'rateArticleForm' do %>
                <%= hidden_field_tag 'articleRating' %>
                <%= submit_tag 'Rate this Article', class: 'button expand' %>
            <% end %>
          </div>
          <div class="small-6 columns text-center">
            <br>
            Your previous rating:
            <% rel = current_user.rels(type: :rates, between: @article) %>
            <% rating = rel.first.nil? ? "none" : rel.first[:value] %>
            <span id="rating"> <%= rating %> </span>
          </div>
        </div>
    <% else %>
        <div class="blue-panel text-center">You need to log in in order to rate articles.</div>
    <% end %>
  </div>

  <div class="small-12 medium-6 columns">
    When rating an article, you could consider:
    <ul>
      <li>The authors opinion and how much you agree with it.</li>
      <li>How well this Article has been written (language).</li>
      <li>The argumentation. Do the arguments help the author to underline his point of view?</li>
      <li>The sources. Are they valid and trustworthy?</li>
    </ul>

  </div>
</div>




<br/>
<br/>

<%= render 'layouts/list_comments' %>

<!-- Give the ability to comment -->
<% if current_user %>
    <%= form_for [@article, Comment.new] do |f| %>
        <%= f.text_area :body %>
        <%= f.submit "Comment", class: 'button  small success' %>
    <% end %>
<% else %>
    <div class="panel success">You need to <%= link_to 'sign up', new_user_registration_path, class: '' %>
      or <%= link_to 'log in', new_user_session_path, class: '' %> to comment on this article.
    </div>
<% end %>


<div class="right">
  <%= link_to 'Back to the Articles', articles_path, :class => 'button secondary' %>
  <% if @article.author == current_user %>
      <%= link_to 'Edit Article', '/editor' + article_path(@article), :class => 'button warning',
                  id: "edit_link", data: {save_url: mercury_update_article_path(@article), no_turbolink: true} %>
      <%= link_to 'Delete this Article', @article, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'button alert' %>
  <% end %>
</div>