<!-- Show the comments -->
<% if @parent.nil? then
     comments = @article.comments.where(pos_neg: @filter_value)
   else
     comments = @parent.children
   end %>
<% comments.each do |comment| %>
    <div class="panel">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <%= comment.author.username.nil? ? "Anonymous" : comment.author.username %> wrote <%= time_ago_in_words(comment.updated_at) %> ago:<br>
          <%= simple_format comment.body, class: 'strong' %>
        </div>
        <div class="small-12 medium-3 columns text-right">
          <div class="row">
            <div class="small-12 columns">
              <%= link_to "Rate this comment", '#', :class => 'button tiny expand rating', :data => {commentid: comment.id} %>
            </div>
          </div>
          <% if current_user == comment.author %>
              <div class="row">
                <div class="small-12 columns">
                  <%= link_to "Delete this comment", article_comment_path(@article, comment),
                              method: :delete, data: {confirm: 'Are you sure?'},
                              :class => 'button alert tiny expand' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
          <div class="row">
            <%= form_for [@article, Comment.new] do |f| %>
                <div class="small-9 columns"><%= f.text_area :body %>
                  <%= f.hidden_field :parent, value: comment.id %></div>
                <div class="small-3 columns"><%= f.submit "Reply", class: 'button small expand' %></div>
            <% end %>
          </div>
      <% end %>
      <div class="row commentarea" id="commentarea-<%= comment.id %>">
        <div class="small-12 columns commentRatingDiv" id="commentRatingDiv-<%= comment.id %>">
          <% if user_signed_in? %>
              <div class="row">
                <div class="small-9 columns">
                  <div class="range-slider commentRatingSlider" id="commentRatingSlider-<%= comment.id %>" data-slider data-options="display_selector: #commentRatingOutput-<%= comment.id %>;">
                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                    <span class="range-slider-active-segment"></span></div>
                </div>
                <div class="small-3 columns">
                  <%= form_tag @article.id + '/rate_comment', remote: true, class: 'rateCommentForm' do %>
                      <%= hidden_field_tag 'comment_rating' %>
                      <%= hidden_field_tag 'comment_id', comment.id %>
                      <%= submit_tag 'Rate', class: 'button expand commentSubmit', id: "submit-"+comment.id %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="small-2 columns small-offset-5 text-center">
                  <span id="commentRatingOutput-<%= comment.id %>"></span>
                </div>
              </div>
          <% else %>
              <div class="blue-panel text-center">You need to log in in order to rate articles.</div>
          <% end %>
        </div>

      </div>
    </div>
      <% if comment.get_number_of_replies != 0 %>
        <div class="nested">
          <% @parent = comment %>
          <%= render "layouts/list_comments" %>
        </div>
      <% end %>
<% end %>

